#-------------------------------------------------------------------------------
# Revision history:
# checked in 2008-12-29 by J. Fox
# revised 2009-1-14 by S. Weisberg 
# revised 2009-1-15 by J. Fox
# revised 2009-8-21 by S. Weisberg
# revised 2009-9-27 by J. Fox
#-------------------------------------------------------------------------------

export(
	Anova,
	deltaMethod,
	hccm,
	influencePlot,
	leveneTest,
	lht,
    linearHypothesis,
    Manova,
    basicpower, bcpower, yjpower, powerTransform,
    estimateTransform,testTransform,
    invResPlot,inverseResponsePlot,invTranPlot,
    invTranEstimate
    )
    
S3method(Anova, aov)
S3method(Anova, coxph)
S3method(Anova, default)                
S3method(Anova, glm)  
S3method(Anova, lm)
S3method(Anova, manova)                  
S3method(Anova, multinom)
S3method(Anova, mlm)            
S3method(Anova, polr)
S3method(Anova, survreg) 
S3method(deltaMethod, default)
S3method(deltaMethod, lm)
S3method(deltaMethod, lmList)
S3method(deltaMethod, nlsList)
S3method(deltaMethod, lme)
S3method(deltaMethod, nlme)
S3method(deltaMethod, mer)
S3method(deltaMethod,multinom)
S3method(deltaMethod,polr)
S3method(deltaMethod, nls)
S3method(powerTransform, default) 
S3method(powerTransform, lm)
S3method(influencePlot, lm)
S3method(inverseResponsePlot, lm)
S3method(invTranPlot, formula)
S3method(invTranPlot, default)
S3method(powerTransform, formula)  
S3method(hccm, default)              
S3method(hccm, lm)   
S3method(leveneTest, formula)
S3method(leveneTest, lm)
S3method(leveneTest, default)         
S3method(linearHypothesis, default) 
S3method(linearHypothesis, glm)     
S3method(linearHypothesis, lm)
S3method(linearHypothesis, mlm)
S3method(Manova, mlm) 
S3method(print, Anova.mlm)   
S3method(print, linearHypothesis.mlm)           
S3method(summary, Anova.mlm)
S3method(print, powerTransform)
S3method(print, summary.powerTransform)
S3method(summary, powerTransform)
S3method(coef, powerTransform)
S3method(vcov, powerTransform)
