#-------------------------------------------------------------------------------
# Revision history:
# checked in 2008-12-29 by J. Fox 
#-------------------------------------------------------------------------------

export(
	Anova,
	deltaMethod,
	hccm,
	lht,
    linearHypothesis,
    Manova
    )
    
S3method(Anova, aov)
S3method(Anova, coxph)
S3method(Anova, default)                
S3method(Anova, glm)  
S3method(Anova, lm)
S3method(Anova, manova)                  
S3method(Anova, multinom)
S3method(Anova, mlm)            
S3method(Anova, polr) 
S3method(deltaMethod, default)
S3method(deltaMethod, drc)
S3method(deltaMethod, nls)   
S3method(hccm, default)              
S3method(hccm, lm)   
S3method(linearHypothesis, default) 
S3method(linearHypothesis, glm)     
S3method(linearHypothesis, lm)
S3method(linearHypothesis, mlm)
S3method(Manova, mlm) 
S3method(print, Anova.mlm)
S3method(print, deltaMethod)   
S3method(print, linearHypothesis.mlm)           
S3method(summary, Anova.mlm)
